<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Sign up</title>
    <style>
      .center_div{
          margin: 0 auto;
          width:80% /* value of your choice which suits your alignment */
      }
      .iform{
        margin-top:10%;
      }
      body{
        background-image:linear-gradient(white,rgb(114, 237, 137));
      }

    </style>
  </head>
  <body>
    <div class="container center_div">

    
      <form class='iform' action="{{ url_for("signup")}}" method = 'post'>
        <div class="form-group">
          <label id='pp' for="exampleInputEmail2">User Name</label>
          <input type="text" class="form-control input-lg" id="exampleInputEmail2" name='uname' aria-describedby="emailHelp" placeholder="Enter username">
          
        </div>
        <div class="form-group">
          <label id='pp' for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control input-lg" id="exampleInputEmail1" name='email' aria-describedby="emailHelp" placeholder="Enter email">
          
        </div>
        <div class="form-group">
          <label id='pp' for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control input-lg" id="exampleInputPassword1"  name='password' placeholder="Enter Password">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-lg">Sign up</button>
        </div>
        <!-- <input type = 'text' placeholder='user name' name='uname'/>
        <input type = 'password' placeholder='password' name='password'/>
        <input type = 'email' placeholder='email' name='email'/>
        <input type = 'submit'/> -->
  
      </form>
      <a href="{{ url_for("login")}}"><p style="color:black">Already i have a account ?</p></a>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
